body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  /* overflow: hidden; */
  background-color: rgb(0, 0, 0);
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 9999;
}

#loading-text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;

  font-size: 5em;
  margin-bottom: 20px;
}

#loading-progress {
  width: 0;
  height: 10px;
  background-color: black;
}

#holder {
  width: 100%;
  padding-bottom: 10vh;

}




#name {
  z-index: 1000;
  /* position: fixed; */
  background-color: #000000;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

#name:hover {

  background-color: white;
  color: black;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

#main-content {
  color: aliceblue;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  /* background-color: black; */
  z-index: 1;
  /* Place it behind the loading screen initially */
}
.start-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#portfolio-image{
  display: flex;

  width: 20%;
  margin-left: 40px;
}
.start-container .text-left{
  width: auto;
}

/* menu on the rigth css */



#upper-nav {
  display: none;
}

.navigation {
  position: fixed;
  top: 50%;
  margin-top: -315px;
  text-align: center;
  z-index: 2;
  right: 0;


}



.navigation li,.lang {

  color: #565656;
  text-align: right;
  font-size: 2.5rem !important;
  font-weight: 700;
  font-family: Roboto;


  /* display: block; */
  padding: 0 10px;

  line-height: 9.5vh;
  /* text-align: center; */

  cursor: pointer;

}
.lang{
  padding: 0;
}
.active{
  color: #ffffff;
}
.navigation a {
  text-decoration: none;
}

/*Hover*/
.navigation li.light-menu {
  /* border-bottom: 0.1em solid #252525; */

}

.navigation li.light-menu:hover {
  border-bottom: 2px solid #ffffff;

}

/* ........... */
#content {
  opacity: 0;

}

.text-left {
  margin: 10px;
  line-height: 3.4rem;
  font-size: 2.5rem;
  color: #D0D0D0;
  width: 50%;
  font-weight: 300;
  margin-left: 40px;
}

.highlighted-word {
  font-weight: 700;
  color: #ffffff;
}






/*  */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.project {
  position: relative;
  width: 45%;
  /* Adjust the width as needed */
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.project img {
  background-color: #ffffff;
  width: 50%;
  /* height: auto; */
  display: block;
}

.caption {
  display: flex;
  justify-content: center;
  position: absolute;
  color: #000000;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000e9;
  /* White background with some transparency */
  padding: 20px;
  transition: left 0.3s ease-in-out;
}
.caption div{
  color: #ffffff;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
}

.project:nth-child(even) {
  align-self: center;
}

.project:nth-child(odd) {
  align-self: center;
}

.project:hover .caption {
  left: 0;
}




/* Apply styles to the container of the background shapes */
.background-shapes {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  justify-content: space-between;
  /* Ensures the shapes are evenly distributed */

}

.shape {
  background-color: #000000;
  border-right: 2px solid #565656;

  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  /* Added transition for width */


}

.shape:hover {
  width: calc(200% + 8px);
  /* Expand the width of the hovered shape */
}

.shape:not(:hover) {
  width: calc(60% - 8px);
  /* Collapse the width of other shapes */

}

.shape:hover .circle-logo {
  /* z-index: 200; */
}

.shape:hover .tooltip {
  color: rgb(0, 0, 0);
  display: none;
}






.shape:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.shape:hover .text {

  display: block;
}


.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d0d0d0;
  font-size: 3.5vh;
  font-weight: bold;

  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.circle-logo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.circle-logo img {
  max-width: 50vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Hide images by default */
.image {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.text {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  display: none;

}
.text ul{
  display: flex;
  flex-direction: column;
  margin: 10px;
  list-style-type: circle;
  
}
.text ul li{
  height: 100%;
  color: #D0D0D0;
  margin-top: 4rem;
}

/* Display images on hover */
.shape:hover .image {
  opacity: 1;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7 {
  background-position: center;
  background-attachment: fixed;
  /* background-size: cover; */
  background-repeat: no-repeat;
  z-index: -1;

}


.image-1 {

  background-color: #565656;
  /* background-image: url('images/Ditur.png'); */

}

.image-2 {
  /* background-image: url('images/Kraglund\ Frontpage.png'); */
  background-color: #565656;
}

.image-3 {
  /* background-image: url('images/Ditur.png'); */
  background-color: #565656;


}

.image-4 {
  /* background-image: url('images/Kraglund\ Frontpage.png'); */
  background-color: #565656;

}

.image-5 {
  background-image: url('images/Ditur.png');

}

.image-6 {
  background-image: url('images/ged3tinabillede.avif');

}

.image-7 {
  background-image: url('images/IMG_2097.avif');
}

/* Footer */

.footer-holder {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: 50rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/Portfolio\ image\ colored.jpg);
}

.social-links {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.social-links a {
  margin: 2rem;
  font-size: 2.5rem;
  margin-right: 10px;
  width: 100%;
}

.heading {
  color: #ffffff;
  font-size: 3.5rem;
  margin-left: 40px;
  font-weight: 700;
}

.contact-info {
  flex-direction: column;
  display: flex;
  margin: 40px;
  font-size: 2.5rem;

}
.contact-info i{
  margin-right: 30px;
}
.contact-info a{
  color: #D0D0D0;
  margin-top: 10vh;
  margin-bottom: 40px;
}
.footer-content{


    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}